body{
    margin:0;
    padding:0;
}

.h1 {
    position: relative;
    height: 50px;
    background-color: white;
    text-align: center;
}
.first-div {
    background-color: #DCE5E2;
    display: grid;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}
.flex-container {
    display: flex;
    background-color: white;
    justify-content: space-between;
    width: 400px;
    height: 50px;
}
.title {
    font-size: 10px;
    position: relative;
    left: 10px;
}
.date {
    display: flex;
    align-self: center;
    font-size: 15px;
    color: #DCE5E2;
    align-items: center;
    position: relative;
    right: 10px;
}
.pp {
    font-size: 13px;
    width: 380px;
    height:40px;
    background-color: white;
    position:relative;
    bottom: 12px;
    padding: 10px;
}
.p2 {
    font-size: 13px;
    width: 380px;
    height:20px;
    background-color: white;
    position:relative;
    bottom: 12px;
    padding: 10px;
}
.flex-container2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    width: 400px;
    height: 110px;
}
.p3 {
    font-size: 13px;
    width: 380px;
    background-color: white;
    position:relative;
    bottom: 12px;
    padding: 10px;
    padding-top: 70px;
}
.p3::before{
    content: "";
    display: block;
    width: 400px;
    height: 1px;
    background: #DCE5E2;
    position: relative;
    bottom: 10px;
    right: 10px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DCE5E2;
}